* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
  margin: 0;
  overflow-x: hidden;
}

.page-content {
  background-color: white;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 0 0.5em;
  background-color: #eee;
}

.content-container {
  max-width: 60em;
  min-width: 100%;
  padding-left: 5em;
  padding-right: 5em;
  /* padding: 0 10em; */
  padding-top: 4em;
  background-color: white;
}

.intro {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 2em;
}

.intro-text {
  font-size: 18px;
  text-align: justify;
}

.box-header {
  display: grid;
  text-align: center;
  background-color: #8877CA;
  height: 280px;
  color: white;
  align-content: center;
}
.box-footer {
  display: grid;
  text-align: center;
  background-color: #8877CA;
  height: 100px;
  color: white;
  margin-top: 48px;
  align-content: center;
}

.diario {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(20em, 1fr)); */
  flex-wrap: wrap;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: max(0.5em, 2em);
}

/* .diario > section:last-child {
  grid-column: span 2;
  justify-self: center;
} */

.profile-pic {
  object-fit: cover;
  object-position: 50% 15%;
  border-radius: 50%;
  max-height: 150px;
  width: unset;
  aspect-ratio: 1 / 1;
}

.footer-link {
  color: #d5c31a;
}