.img {
  /* max-width: 20em; */
  width: 100%;
  border-radius: 8px;
}

.card-title {
  color: #8877CA;
}

.card-item {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  /* aspect-ratio: 1 / 1; */
}